<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button (click)="backToHome()">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon
      ></ion-button>
    </ion-buttons>
    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="note">
    <ion-item>
      <ion-label position="stacked">Title</ion-label>
      <ion-input [(ngModel)]="note.title"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Text</ion-label>
      <ion-textarea [(ngModel)]="note.text"></ion-textarea>
    </ion-item>

    <ion-button expand="block" color="success" (click)="updateNote()">
      <ion-icon name="save" slot="start"></ion-icon>
      Update
    </ion-button>

    <ion-button expand="block" color="danger" (click)="deleteNote()">
      <ion-icon name="trash" slot="start"></ion-icon>
      Delete
    </ion-button>
  </div>
</ion-content>
